NEXT_PUBLIC_GA_ID = G-xxxxxxxxxxx

NEXT_PUBLIC_SUPABASE_URL=xxxxxxxxxxxxxxx

NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx

NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxxx.xxxxxxxxx